@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Cairo-VariableFont_wght.ttf) format("woff2");
  }

  @font-face {
    font-family: "Viga";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Viga-Regular.ttf) format("woff2");
  }

.aboutme{
    font-family: "Viga";
    font-size: 40px;
    letter-spacing: 2px;
    color: #C44536;
    font-style: oblique;
    text-shadow: 1px 1px #EDDDD4;
    display: inline;
    
    
}

.aboutme::after{
  content:"";
  display: block;
  height: 3px;
  width: auto;
  background-color: #C44536;
  transform: translate(-50%, -50%);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;

}

.aboutme:hover::after{
  transform: scale(1);
}

.formation{
    font-family: "Viga";
    font-size: 40px;
    letter-spacing: 2px;
    color: #C44536;
    font-style: oblique;
    text-shadow: 1px 1px #EDDDD4;
    display: inline;
}

.formation::after{
  content:"";
  display: block;
  height: 3px;
  width: auto;
  background-color: #C44536;
  transform: translate(-50%, -50%);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;

}

.formation:hover::after{
  transform: scale(1);
}



.me
.contenu{
  font-family: "Cairo";  
}