.footer{
    padding: 20px;
    margin: 20 px;
    font-family: "KdamThmorPro";
    color: #EDDDD4;
    border-radius: 0px 0px 15px 15px;
      background-color: #197278;
      border: 3px solid #C44536;
      width: 100%;
      letter-spacing: 1px;
      font-size: 15px;
      
}