@font-face {
    font-family: "KdamThmorPro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/KdamThmorPro-Regular.ttf) format("woff2");
  }



.header {
    padding: 20px;
    margin: 20 px;
    font-family: "KdamThmorPro";
    border-radius: 15px 15px 0px 0px;
      background-color: #197278;
      border: 3px solid #C44536; 
       /* width: 100%;  */
  }
  
  .link {
    margin: 15px;
  }
  
  .active {
    margin: 15px;
    color: #EDDDD4;
  }
